*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6,p{
    margin: 0;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.header {
    background-image: url(../img/Rectangle.jpg);
   height: 740px; 
}

.logo {
    display: flex;
    justify-content: space-between;
}
.logo1{
    margin-top: 20px;
}
.logo2{
    margin-top: 30px;
}
.content {
    display: flex;
align-items: center;
flex-direction: column;
}
.title {
 margin-top: 102px;
 margin-bottom: 35px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 95px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
width: 734px;
color: #FFFFFF;


}
.title2 {
  
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.container-row{
transform: translatey(-50%);
height: 300px;
left: 405px;
top: 590px;

background: #F7F7F7;

}
.container-row {
display: flex;



}
.content-row{
    display: flex;
    margin-left: 130px;
    margin-top: 57px;
    margin-bottom: 57px;
}
.text-row1 , .text-row2 , .text-row3, .text-row4{
    margin-left: 112px;

  
}
.title1, .title3, .title4, .title5{

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 107px;
text-align: center;
text-transform: uppercase;

/* Accent */
color: #F7654A;

  
}
.years1, .years2, .years3, .years4 {
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;

color: #000000;

 
}
.and1 , .and2, .and3,.and4 {
  
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: center;

/* gray */
color: #999999;
}
.picters {
    display: flex;
}

.h3 {
 margin-bottom: 60px;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-align: center;
text-transform: uppercase;

/* Dark */
color: #404149;

 
}
.picters-row {
    display:flex;
 justify-content: center;
    top:100px;
    margin-bottom: 160px;
}
.picters-row1, .picters-row2,.picters-row3 {
    margin-left: 30px;

}
.line1, .line2, .line3{
margin-top: 45px;
margin-bottom: 20px;
width: 55px;
height: 6px;
background: #F7654A;
 
}
.title-row1, .title-row2, .title-row3 {
 
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

/* Dark */
color: #404149;

 
}
.text-ro1, .text-ro2,.text-ro3{
  
width: 350px;
height: 83px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #999999;


}

.orang {

height: 181px;
left: 0px;
margin-bottom:150px;

/* Accent */
background: #F7654A;
   
}
.container-orang {
   display: flex;
    justify-content: space-between;
}
.orang-left {
    margin-top: 45px;
}
.title-orang {


font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 71px;
letter-spacing: 0.02em;

color: #FFFFFF;


}
.orang-title2 {

font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.orang-rihgt {
    margin-top: 75px;
}
.what {
    margin-bottom: 150px;
}


.what-title {
margin-bottom: 66px;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
margin-left: 370px;
color: #000000;


}
.what-content {
    display: block;
    margin-bottom: 10px;
}
.ser1,.ser2, .ser3{
    
    margin-left: 10px;
    margin-top: 10px;
}

.ser4,.ser5, .ser6{
    margin-left: 10px;
}

.home {
    display: flex;
}
.home1{
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 150px;
}

.qwest-title {
  
margin-left: 800px;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
margin-bottom: 50px;
color: #000000;


}
.qwest-content {
   display: flex; 
    margin-left: 400px;
    margin-bottom: 40px;
}


.qwest-title2 {
margin-left: 15px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #F7654A;


}
.qwest-content2,.qwest-content3{
    display: flex; 
    margin-left: 400px;
    margin-bottom: 30px;
}

.qwest-title3 {
    margin-left: 15px;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #F7654A;
}
.qwest-text {

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
margin-left: 400px;
margin-bottom: 40px;
width: 730px;

color: #999999;
}
.qwest-content4 {
    display: flex; 
    margin-left: 400px;
    margin-bottom: 150px;
}
.grey{

height: 364px;
left: 0px;
margin-bottom: 250px;

/* Dark */
background: #404149;

}

.grey-title {
 padding-top: 100px;
display: flex;
justify-content: center;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;

/* White */
color: #FFFFFF;


}
.grey-content {
    display: flex;
    margin-top: 60px;
    margin-left: 0px;
}

.img-gtey,.img-grey2, .img-grey3,  .img-grey4 {
    margin-left: 25px;
}

.work-title {
margin-left:350px;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
margin-top: 60px;
color: #000000;
margin-bottom: 60px;


}
.work-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap:30px;
}
.card1, .card2, .card3 {
    margin-bottom: 150px;
}
.work-card1, .work-card2, .work-card3{

width: 350px;
height: 259px;
margin-bottom: 30px;
background: #F7F7F7;
   
}
.card-title1, .card-title2, .card-title3{
   
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 142px;
text-transform: uppercase;
margin-left: 28px;
color: #F7654A;


}
.work-text, .work-text2, .work-text3{
  
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
width: 290px;
height: 142px;
color: #999999;
margin-left: 30px;
margin-top: -50px;

 
}
.work4, .work5, .work6 {
 
    
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
letter-spacing: 0.02em;

color: #000000;

  
}
.work-span1, .work-span2, .work-span3 {   
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
letter-spacing: 0.02em;

/* Accent */
color: #F7654A;
}
 
.orang2{
    margin-bottom: 100px;
}


.contact-title {
display: flex;
justify-content: center;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
margin-bottom: 60px;
color: #000000;


}
.contact-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    margin-bottom: 190px;
}

.adr-img, .adr-img2, .adr-img3, .adr-img4  {
    margin-bottom: 30px;
    margin-left: 90px;
    justify-content: center;
}
.adr-title, .adr-title2, .adr-title3 {

/* h3 */
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

margin-bottom: 25px;
color: #999999;

 
}
.adr-text, .adr-text2, .adr-text3 {
 
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;


}

.abr-img5{
margin-left: 40px;
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */
text-align: center;

/* Accent */
color: #F7654A;

}
.footer {
   
height: 82px;
left: 0px;
top: 6337px;


background: #404149;
 
}

.footer-content {
    display: flex;
    justify-content: space-between;
  padding-top: 30px;
}
.footer-text, .foote-text2{

    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;


color: #FFFFFF;
}